---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="writing">
  {% for post in site.writing %}
    <article class="writing">

      <h1><a href="{{ site.baseurl }}{{ writing.url }}">{{ writing.title }}</a></h1>

      <div class="entry">
        {{ writing.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ writing.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
